:root[data-theme="blue"] {
    --color-bg: rgba(11, 36, 77, 1);
    --color-border: rgba(255, 255, 255, 0.08);
    --color-text: rgba(255, 255, 255, 0.9);
    --color-share: rgba(255, 140, 0, 1);
}

:root[data-theme="white"] {
    --color-bg: rgba(255, 255, 255, 1);
    --color-border: rgba(0, 0, 0, 0.05);
    --color-text: rgba(51, 51, 51, 1);
    --color-share: rgba(0, 140, 0, 1);
}

:root[data-theme="black"] {
    --color-bg: rgba(31, 31, 31, 1);
    --color-border: rgba(255, 255, 255, 0.05);
    --color-text: rgba(255, 255, 255, 0.9);
    --color-share: rgba(180, 10, 0, 1);
}